<%- locals.flash %>
    <% include('elements/nav') %>
        <% include('elements/pagination') %>
            <%- navBar(userInfo) %>
                <main id="main_customer_data">
                    <div id="general">
                        <% include('elements/sort') %>
                            <%- sort(customerStatus[0].status, url,webQuery, sendStatusQuery,dateQuery) %>

                            <div id="customer_list">
                                <div id="list_header">
                                    <div class="mark"><i class="fa fa-star" aria-hidden="true"></i></div>
                                    <div class="status">status</div>
                                    <div class="info">info</div>
                                    <div class="track">track</div>
                                    <div class="note">note</div>
                                    <div class="time">time</div>
                                    <% if(userInfo.role==="admin" || userInfo.role==="sale_manager"){ %>
                                        <div class="saler">saler</div>
                                        <% } %>

                                </div>

                                <% let star = '' %>
                                    <% clientDatas.forEach(clientData=>{ %>

                                        <div class="customer" data-id="">

                                            <div class="mark">
                                                <% if(clientData.mark){
                                            star = '<i class="fa fa-star" aria-hidden="true"></i>'  
                                        }else{
                                            star = '<i class="fa fa-star-o" aria-hidden="true"></i>'
                                        } %>
                                                    <%- star %>
                                            </div>
                                            <div class="status">
                                                <%= clientData.status %>
                                            </div>

                                            <div class="info">
                                                <div class="phone">
                                                    <%= clientData.phone %>
                                                </div>
                                                <div class="name">
                                                    <%= clientData.name %>
                                                </div>
                                                <div class="email">
                                                    <%= clientData.email %>
                                                </div>
                                            </div>
                                            <div class="track">
                                                <div class="tags">
                                                    <%= clientData.tags %>
                                                </div>
                                                <div class="url">
                                                    <%= clientData.url %>
                                                </div>
                                                <div class="location">
                                                    <%= clientData.location %>
                                                </div>
                                            </div>

                                            <div class="note">
                                                <%= clientData.note %>
                                            </div>
                                            <div class="time">
                                                <% let time = parseInt(clientData.createdtime) %> 
                                                <%- new Date(time).getFullYear() + '/' +  (new Date(time).getMonth() +1) + '/' + new Date(time).getDate() %>
                                                <br>
                                                <%- new Date(time).getHours() + ':' +  new Date(time).getMinutes() + ':' + new Date(time).getSeconds() %>
                                            </div>
                                            <% if(userInfo.role==="admin" || userInfo.role==="sale_manager"){ %>
                                                <div class="saler">
                                                    <%= clientData.saler %>
                                                </div>
                                                <% } %>
                                                    <% if(userInfo.role!=="admin" && userInfo.role!=="sale_manager"){ %>
                                                        <button onclick="select_cus(`<%= url %>/customer-data/single-client/<%= clientData.id %>`, '<%= customerStatus[0].status %>')">Chọn</button>
                                                        <% } %>

                                        </div>

                                        <% }) %>
                                            <%- pagination(pagiParams,sendStatusQuery,saler,webQuery) %>

                            </div>
                    </div>
                    <% if(userInfo.role!=="admin" && userInfo.role!=="sale_manager"){ %>
                        <%- include('elements/detail') %>
                            <% } %>

                </main>