<%- locals.flash %>
    <% include('elements/nav') %>
        <%- navBar(userInfo) %>

            <main id="homepage">
                <% users.forEach(user=>{ %>
                    <% if(user.username !== 'dinhtatuanlinh'){ %>
                        <div class="users">
                            <img src="imgs/avatars/<%= user.avatar || 'Fuhrer.jpg' %>">
                            <div class="name">Name:
                                <%= user.name %>
                            </div>
                            <div class="username">username:
                                <%= user.username %>
                            </div>
                            <div class="phone">Phone:
                                <%= user.phone %>
                            </div>
                            <div class="email">Email:
                                <%= user.email %>
                            </div>
                            <a class="button" href="customer-data?saler=<%= user.username %>">Show</a>
                        </div>
                    <% } %>
                <% }) %>

            </main>